*:before, .equa11y-label *
{
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  clear: none !important;
  float: none !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  height: auto !important;
  letter-spacing: 0 !important;
  line-height: 1 !important;
  margin: 0 !important;
  opacity: 1 !important;
  padding: 0 !important;
  position: static !important;
  text-align: left !important;
  text-decoration: none !important;
  text-shadow: none !important;
  text-transform: none !important;
  width: auto !important;
}

.equa11y-label:before, .equa11y-label {  background: transparent !important; -webkit-border-radius: 3px !important; -moz-border-radius: 3px !important; border-radius: 3px !important; -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important; -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important; margin: 1px !important; padding: 5px 10px !important; z-index: 2147483647 !important; }
.equa11y-label:before, .equa11y-label, .equa11y-label * { background: blue!important; color: #fff !important; display: inline !important; font-size: 1em !important; font-family: Verdana, Geneva, Tahoma, sans-serif; position: relative; }
