.settings-screen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.settings-screen fieldset {
    border: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.settings-section {
    margin-bottom: 5px;
}

.settings-row {
    margin: 5px 0 5px 0;
    display: flex;
    flex-wrap: nowrap;
}

.settings-row .font-size {
    margin-left: 15px;
}

.label-word-list {
    display: inline-block;
}

header {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

main {
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-weight: normal;
}

.settings-screen h1 {
    margin: 0 0 0.3em 0;
    font-size: 1.5em;
}

h2 {
    margin: 10px 0;
    font-size: 1em;
}

nav {
    text-align: right;
}

.list-label {
    display: block;
}

#wordList {
    width: 98%;
    height: 2em;
}

#statusMsg {
    margin-top: 0.5em;
    display: block;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.settings-screen p:not(.small) {
    font-size: 0.8em;
}

.error {
    color: darkred;
}

.dark-mode .error {
    color: yellow;
}

.error::before {
    content: '!! ';
}

.success {
    color: darkgreen;
}

.dark-mode .success {
    color: greenyellow;
}

.success::before {
    content: '';
}

#updateBtn,
#resetBtn {
    height: 32px;
}