body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    min-width: 92vw;
    font-size: 0.9em;
}

.settings-screen fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul:first-child {
    margin-right: 1.5rem;
}

li {
    margin: 10px 0;
    list-style-type: none;
    font-weight: normal;
}

h1 {
    margin-bottom: 0.3em;
    display: inline-block;
    font-size: 1.5em;
}

h2 {
    margin: 10px 0;
    font-size: 1em;
}

nav {
    text-align: right;
}

.list-label {
    display: block;
    margin: 10px 0;
}

#wordList {
    width: 100%;
    height: 2em;
}

#statusMsg {
    margin-top: 0.5em;
    display: block;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.settings-screen p:not(.small) {
    font-size: 0.8em;
}

.error {
    color: darkred;
}

.error::before {
    content: '!! ';
}

.success {
    color: darkgreen;
}

.success::before {
    content: '';
}